@model MVC8amMonsoonBatch.Models.Students


<h1>@Model.StudentId<br />@Model.StudentName</h1>







@*<ul>
    <li>Abhishek</li>
    <li>Narsima</li>
    <li>Saleem</li>
    <li>Durga</li>
    <li>Chandrika</li>
    <li>Anup</li>
    <li>Dwarka</li>
</ul>*@
