
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

@section GroupingURL{

   <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>

}