
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/Employee/Create" method="post">
    <label>Name</label>
    <input type="text"  name="EmpName" /><br />
    <label>Salary</label>
    <input type="text"  name="EmpSalary" /><br />

    <input type="submit" value="Create" class="btn btn-warning" />
</form>